@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Playfair+Display&display=swap');



$font1: 'Manrope', sans-serif;
$font2: 'Playfair Display', serif;
$colorpage1: #FFFFFF;
$colorpage2: #EBF3F5;
$colorf1: #141414;
$colorf2: #555555;
$colorfbut: #5C8692;
$colorbcans:#1E2C30;
$colorhover:#286474;
$colorfooter1: #1E2C30;
$colorfooter2: #111E22;

$maxWidth: 1440;

@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

%flex-element-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
button {
                @extend %flex-element-center;
                justify-content: center;
                background-color: $colorfbut;
                @include adaptiv-font(14px, 8px);
                color: $colorpage1;
                border-color: $colorfbut;
                div{
                    padding: 3%;
                }
                
            }
button:hover {
                    background-color: $colorhover;
                }



body {
    font-family: $font1;
    min-height: 3151px;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template: 3.3% 1fr 18.89%/ 100% ;
    header {
        grid-area: 1/1/2/2;
        background-color: $colorpage1;
        display: grid;
        grid-template: 100% / 17.5% 16.5% 1fr 31.5% 6.5% 18%;
        justify-content: center;
        align-items: center;
        .img {
            grid-area: 1/1/2/2;
            @extend  %flex-element-center;
        }
        .phone {
            grid-area: 1/2/2/3;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include adaptiv-font(16px, 8px);
        }

        nav {
            grid-area: 1/4/2/5;
            ul{
                @extend  %flex-element-center;
            li {
                list-style-type: none;
                a {
                    text-decoration: none;
                    color: $colorf1;
                    @include adaptiv-font(17px, 4px);
                    &:hover {
                            color: $colorhover;
                        }
                }
                
            }
            .this {
                    color: $colorfbut;
                    }
                    
                text-decoration: none;
        }}
        
        .conts {
            grid-area: 1/5/2/6;
            @extend %flex-element-center;  
            justify-content: space-between;          
        }
        .h-but {
            grid-area: 1/6/2/7;
            @extend %flex-element-center;
            height: 100%;
            width: 100%;
            button {
                @extend %flex-element-center;
                justify-content: center;
                background-color: $colorfbut;
                @include adaptiv-font(14px, 3px);
                height: 60%;
                color: $colorpage1;
                width: 77%;
                border-color: $colorfbut;
                div{
                    padding: 3%;
                }
                
            }
            
        }
    }
    @media screen and (max-width: 700px) {
    
        header {
            display: grid;
            grid-template: 100% / 50% 1fr 1fr 1fr 1fr 45%;
            nav, .phone, .conts {
            display: none;
        }
        }
    }
    main {
        display: grid;
        background-color: #d59292;
        grid-template: 36.15% 29.8% 1fr / 100%;
        .about {
            background-color: $colorpage2;
            display: grid;
            grid-template: 100% / 42% 58%;
            
            .aboutus {
                display: grid;
                grid-template:  28% 25% 15% 1fr /100%;
                padding-left: 19.75%;
                .welcome {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;
                    color: $colorfbut;
                    width: 100%;
                    height: 100%;
                    img {
                        height: 10%;
                        margin-right: 2%;
                    }
                }
                h1 {
                    margin: 0;
                    margin-top: 0.9%;
                    padding: 0;
                    font-family: $font2;
                    @include adaptiv-font(55, 24);
                    line-height: 127%;
                    letter-spacing: -5%;
                }
                .welcome-p {                    
                    @include adaptiv-font(19, 9);
                    color: $colorf2;
                    line-height: 155%;
                    letter-spacing: -10%;
                }
                button {
                    height: 20%;
                    width: 50%;
                }
                @media screen and (max-width: 700px) {
                    button {
                        width: 100%;
                    }
                }

            }
            .img {
                @extend %flex-element-center;
                width: 100%;
                img {
                    width: 70%;
                    padding-top: 1%;
                    padding-right: 12%;
                }
            }
        }


        .services {
            background-color: $colorpage1;
            display: grid;
            grid-template: 100% / repeat(auto-fit, minmax(250px, 1fr));
            align-items: center;
            padding: 0 8.2%;
            gap: 2.3%;
            div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                height: 100%;
                .img {
                    margin-top: 25.5%;
                    width: 100%;
                    height: 40%;
                    img {
                        width: 100%;
                    }
                }
                h3 {
                    @include adaptiv-font(26, 14);
                    color: $colorf1;
                    margin: 0;
                    padding: 4% 0 1.5% 0;
                    font-family: $font2;
                }
                p {
                    color: $colorf2;
                    @include adaptiv-font(18, 14);
                    line-height: 150%;
                }
                button {
                    height: 8%;
                    width: 42%;
                    color: $colorf1;
                    background-color: $colorpage1;
                    @include adaptiv-font(13, 8);
                }

                @media screen and (max-width: 700px) {
                    
                    button {
                        width: 100%;
                    }
                }
            }

        }

                  
            
        .take-care {
            background-color: $colorpage2;
            display: flex;
            justify-content: space-between;
            .take-care-1 {
                width: 40%;
                display: grid;
                grid-template: 21% 19.5% 20% 1fr / 100%;
                padding-left: 8.5%;
                .att {
                    @include adaptiv-font(15, 8);
                    color: $colorf1;
                    font-family: $colorfbut;
                    display: flex;
                    align-self: flex-end
                }
                h2 {
                    @include adaptiv-font(45, 24);
                    color: $colorf1;
                    font-family: $font2;
                    margin: 0;
                    padding: 0;
                }
                .att-p {
                    @include adaptiv-font(18, 14);
                    color: $colorf2;
                    line-height: 155%;
                    letter-spacing: -10%;
                }

                .tools {
                    display: flex;
                    justify-content: space-between;
                    margin-right: 2%;
                    .tool {
                        background-color: $colorpage1;
                        height: 56%;
                        width: 31.5%;
                        border: 2px bold $colorfbut;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        p {
                            color: $colorf1;
                            font-family: $font2;
                            @include adaptiv-font(22, 10);
                        }
                    }
                }
            }

            @media screen and (max-width: 700px) {
            .tools, .att-p {
                width: 200%;

            }   
               
            }

            .img {
                width: 42%;
                img {
                    position: relative;
                    z-index: 1; 
                    width: 100%;
                    max-width: 500px;
                    top: 10.5%;
                }
            }
        }
    }


    footer {
        background-color: $colorfooter1;
        display: grid;
        grid-template: 35% 1fr 10% / 100%;
        padding: 0 8.25%;
        .first-f {
            display: flex;
            justify-content: space-between;
            align-items: center;
                ul {
                    width: 21%;
                    display: flex;
                    justify-content: space-around;
                    li {
                        display: flex;
                        list-style-type: none;
                    }
                }
        }
        .menegment {
            display: flex;
            justify-content: space-between;
            h4 {
                    text-decoration: none;
                    @include adaptiv-font(22, 8);
                    color: $colorpage1;
                    font-family: $font2;
            }
            td, p{
                    @include adaptiv-font(17, 8);
                    color: $colorpage1;
                    line-height: 150%;
            }
        }
        .f-end {
            @extend  %flex-element-center;
            color: $colorpage1;
            @include adaptiv-font(15, 8);
        }
    }
}
@media screen and (max-width: 700px) {

    footer {
    .first-f {
        display: flex;
        justify-content: space-between;
        align-items: center;
            img {
                width: 50%;
            }
    }}
}