@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Playfair+Display&display=swap');



$font1: 'Manrope', sans-serif;
$font2: 'Playfair Display', serif;
$colorpage1: #FFFFFF;
$colorpage2: #EBF3F5;
$colorf1: #141414;
$colorf2: #555555;
$colorfbut: #5C8692;
$colorbcans:#1E2C30;




body {
    background-color: $colorpage3;
}
