@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Montserrat:wght@800&family=Poppins&display=swap');

$font1: 'Josefin Sans', sans-serif;
$font2: 'Montserrat', sans-serif;
$font3:  'Poppins', sans-serif;
$colorblue: #00ADB5;
$colorgrey: #C4C4C4;
$colordarkgrey: #C4C4C4;
$colortranspwhite: rgba(255, 255, 255, 0.6);

main {

}
@media screen and  {
    
}